<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qys.training.biz.auth.mapper.UserMapper" >
    
    <insert id="insert" parameterType="com.qys.training.biz.auth.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (
          username,
          password
        ) VALUES (
          #{username},
          #{password}
        )
    </insert>

    <select id="queryUser" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT USERNAME FROM user WHERE USERNAME = #{username}
    </select>

    <select id="getOneUser" parameterType="java.lang.String" resultType="com.qys.training.biz.auth.entity.User">
        SELECT USERNAME, PASSWORD FROM user where username = #{username}
    </select>
    
</mapper>