<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qys.training.biz.ftp.mapper.FtpMapper" >
    <insert id="insertFile" parameterType="com.qys.training.biz.ftp.entity.File" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_upload_file (
        file_name,
        file_size,
        file_path,
        file_hash
        ) VALUES (
        #{fileName},
        #{fileSize},
        #{filePath},
        #{fileHash}
        )
    </insert>

    <select id="getFilePath" parameterType="java.lang.Long" resultType="java.lang.String">
        select file_path from t_upload_file where id = #{id}
    </select>

    <update id="updateFile" parameterType="com.qys.training.biz.ftp.entity.File">
        update t_upload_file set file_name = #{fileName}, file_size = #{fileSize}, file_hash = #{fileHash}, file_path = #{filePath}
        where id = #{id}
    </update>

    <select id="getFileName" parameterType="java.lang.Long" resultType="java.lang.String">
        select file_name from t_upload_file where id = #{id}
    </select>

    <delete id="deleteFile" parameterType="java.lang.Long">
        delete from t_upload_file where id = #{id}
    </delete>

    <select id="selectFileDB" parameterType="com.qys.training.biz.ftp.entity.QueryFileParam" resultType="com.qys.training.biz.ftp.entity.File">
        select id, file_name as fileName, file_path as filePath, file_hash as fileHash, file_size as fileSize from t_upload_file
        where 1 = 1
        <if test="fileName != null">
            and file_name = #{fileName}
        </if>
        <if test="startSize > 0">
             and file_size &gt; #{startSize}
        </if>
        <if test="endSize > 0">
             and file_size &lt; #{endSize}
        </if>
        <if test="currentPage != 0 and pageSize != 0">
        limit #{currentPage}, #{pageSize}
        </if>
    </select>

    <select id="selectBatchPath" parameterType="java.lang.Long" resultType="com.qys.training.biz.ftp.entity.File">
        select file_path as filePath, file_name as fileName from t_upload_file
        where
        id in
        <foreach collection="idList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>